<a target="_blank" href="https://colab.research.google.com/github/BrunoCapron/EQE358-metodos_numericos/blob/main/Aulas_Python/Aula_1_Introducao.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

# Aula 01: Bem-Vindos √† EQE 358 - M√©todos Num√©ricos

Nesta primeira aula vamos aprender as diferentes maneiras de utilizar o Python como uma calculadora simples para opera√ß√µes comuns da matem√°tica.

## 1. Tipos de Dados



*   **`int`**: N√∫meros inteiros (ex.: $1, 2, 3, ...$)
*   **`float`**: N√∫meros decimais (ex.: $ 2.5, 7.56, 3.1415...$)
*   **`complex`**: N√∫meros complexos (ex.: $ 5+3j, 5-3j$)

<br>

---


*Aten√ß√£o! Python representa a parte imagin√°ria por $j$ ao inv√©s de $i$*


---

<br>

Voc√™ pode usar a fun√ß√£o `type()` para descobrir o tipo de um dado.

In [1]:
type(1234)

int

In [2]:
type(3.1415)

float

In [3]:
type(5+3j)

complex

## 2. Opera√ß√µes Aritm√©ticas



---


**Exemplo:** Calcule a soma $9+5$.


---

In [4]:
9+5

14

---


**Exemplo:** Calcule a multiplica√ß√£o $7 \times 8$.


---

In [5]:
7*8

56

---


**Exemplo:** Calcule a divis√£o $ 72 \div 3$.


---

In [6]:
72/3

24.0

---


**Exemplo:** Calcule a exponencia√ß√£o $2^{10}$.


---

In [7]:
2**10

1024



---


**Exemplo:** Calcule $\frac{3 √ó 4}{(2^2)+4/2}$


---

In [8]:
(3*4)/(2**2+4/2)

2.0



---


**Exemplo:** Calcule $3$ dividido por $4$, depois multiplique o resultado por $2$, depois eleve o resultado ao cubo.


---

In [9]:
3/4

0.75

In [10]:
_*2 # underline _ √© s√≥ uma conven√ß√£o do shell para guardar o resultado anterior.

1.5

In [11]:
_**3

3.375

---


**DICA!** O Python vai indicar um `ZeroDivisionError` quando a express√£o $1/0$ aparecer.


---

In [12]:
1/0

ZeroDivisionError: division by zero



---

**Exemplo:** Calcule a soma $(5+3j)+(7-j)$


---

In [13]:
(5+3j) + (7-1j)

(12+2j)

In [14]:
complex(5,3)+complex(7,-1)

(12+2j)

## 3. Nota√ß√£o Cient√≠fica

A nota√ß√£o cient√≠fica pode ser utilizada atrav√©s da letra $e$ entre dois n√∫meros. Por exemplo, $1e6 = 1,000,000$, enquanto $1e-3=0.001$.

<br>

---
**Exemplo:**  Calcule o n√∫mero de segundos em 3 anos usando nota√ß√£o cient√≠fica.

---

In [15]:
(3e0)*(3.65e2)*(2.4e1)*(3.6e3) # anos (3) * dias/ano (365) * horas/dia (24h) * seg/hora (3600)

94608000.0

## 4. M√≥dulo Math

Para utilizar algumas fun√ß√µes aritm√©ticas b√°sicas como `sin`, `cos`, `tan`, `asin`, `acos`,`exp`, `log`, `log10` ou `sqrt`, √© necess√°rio importar um m√≥dulo chamado `math`.

In [16]:
import math

Para executar essas fun√ß√µes, basta utilizar o comando adequado seguindo o formato `modulo.funcao`



---

**Exemplo:** Calcule $\sqrt{4}$ usando a fun√ß√£o `math.sqrt()`

---

In [17]:
math.sqrt(4)

2.0

---

**Exemplo:** Calcule $sin(\pi/2)$. Observe que `math.pi`$=\pi$

---

In [18]:
math.sin(math.pi/2)

1.0

---

**Exemplo:** Calcule $e^{\frac{3}{4}}$ usando a fun√ß√£o `math.exp()`.

---

In [19]:
math.exp(3/4)

2.117000016612675

---

**Exemplo:** Calcule $e^{\ln10}$.

---

In [20]:
math.exp(math.log(10))

10.000000000000002

**Importante.** Observe que o Python retorna:

```
10.000000000000002
```

isso acontece por causa de **limita√ß√µes de precis√£o**:
O Python (e praticamente todas as linguagens) usam o padr√£o IEEE 754 para representar n√∫meros de ponto flutuante (64 bits no float padr√£o) . \\
Assim, o computador guarda n√∫meros em **bin√°rio com bits limitados**, ent√£o nem todos os valores s√£o exatos.

O `math.log(10)` j√° √© uma **aproxima√ß√£o**, e quando aplicamos `math.exp(...)` essa pequena diferen√ßa aparece no resultado final.

Para mostrar como `10`, basta arredondar:

```python
round(math.exp(math.log(10)), 10)
```

Observe que a fun√ß√£o `math.log` em Python √© o logaritmo neperiano (ou natural) $\log_{e}$, enquanto o $\log_{10}$ √© dado pela fun√ß√£o `math.log10`.



---
**Exemplo:** Calcule $1/\infty$ usando a fun√ß√£o `math.inf`

---

In [21]:
1/math.inf

0.0

---
**Exemplo:** Calcule $\infty \times 2$ usando a fun√ß√£o `math.inf`

---

In [22]:
math.inf * 2

inf

---
**Exemplo:** Calcule $\infty/\infty$ usando a fun√ß√£o `math.inf`

---

In [23]:
math.inf/math.inf # ‚àû / ‚àû √© uma forma indeterminada (NotaNumber)

nan

## 5. Express√µes L√≥gicas e Operadores

Uma express√£o l√≥gica √© uma proposi√ß√£o que pode ser `True` (verdadeira) ou `False` (falsa). Esse tipo de dado √© chamado de `boolean` (booleano). Os operadores de **compara√ß√£o** s√£o usados para construir express√µes l√≥gicas que comparam os valores de dois n√∫meros ou vari√°veis.

Operador   | Descri√ß√£o        | Exemplo    | Resultados  
-----------|----------------- |----------- |----------------
   `>`     | `maior`          | `a > b`    | `True`
   `>=`    | `maior ou igual` | `a >= b`   | `True`
   `<`     | `menor `         | `a < b`    | `True`
   `<=`    | `menor ou igual` | `a <= b`   | `True`
   `!=`    | `n√£o igual`      | `a != b`   | `True`
   `==`    | `igual`          | `a == b`   | `True`

### üîç Observa√ß√£o importante:

No Python, `True` e `False` s√£o valores booleanos, **mas tamb√©m podem ser usados como n√∫meros**:

```python
int(True)   # 1
int(False)  # 0
```

Isso significa que podemos fazer opera√ß√µes matem√°ticas com eles:

```python
True + True     # 2
True * 10       # 10
False * 100     # 0
```

üí° **Resumo para lembrar:**

* `True` se comporta como `1`
* `False` se comporta como `0`

---

In [24]:
5 == 4

False

In [25]:
2 < 3

True

In [26]:
(1 + 3) >= (2 + 5)

False

In [27]:
(3 > 2) + (5 > 4)

2

Os operadores **l√≥gicos** s√£o os que relacionam duas ou mais express√µes l√≥gicas, ou negam a express√£o l√≥gica.


*   **`and`**: `True` se ambas as express√µes s√£o `True` (Adi√ß√£o)
*   **`or`**: `True` se uma express√£o ou outra for `True` (Alterna√ß√£o)
*   **`not`**: `True` se a express√£o for `False` (Nega√ß√£o)

In [28]:
(3 > 2) and (5 > 4)

True

In [29]:
(5 > 2) or (10 < 4)

True

In [30]:
not (5 > 2)

False