<a target="_blank" href="https://colab.research.google.com/github/BrunoCapron/EQE358-metodos_numericos/blob/main/Aulas_Python/Aula_1_Introducao.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

# Aula 01: Bem-Vindos à EQE 358 - Métodos Numéricos

Nesta primeira aula vamos aprender as diferentes maneiras de utilizar o Python como uma calculadora simples para operações comuns da matemática.

## 1. Tipos de Dados



*   **`int`**: Números inteiros (ex.: $1, 2, 3, ...$)
*   **`float`**: Números decimais (ex.: $ 2.5, 7.56, 3.1415...$)
*   **`complex`**: Números complexos (ex.: $ 5+3j, 5-3j$)

<br>

---


*Atenção! Python representa a parte imaginária por $j$ ao invés de $i$*


---

<br>

Você pode usar a função `type()` para descobrir o tipo de um dado.

In [1]:
type(1234)

int

In [2]:
type(3.1415)

float

In [3]:
type(5+3j)

complex

## 2. Operações Aritméticas



---


**Exemplo:** Calcule a soma $9+5$.


---

In [4]:
9+5

14

---


**Exemplo:** Calcule a multiplicação $7 \times 8$.


---

In [5]:
7*8

56

---


**Exemplo:** Calcule a divisão $ 72 \div 3$.


---

In [6]:
72/3

24.0

---


**Exemplo:** Calcule a exponenciação $2^{10}$.


---

In [7]:
2**10

1024



---


**Exemplo:** Calcule $\frac{3 × 4}{(2^2)+4/2}$


---

In [8]:
(3*4)/(2**2+4/2)

2.0



---


**Exemplo:** Calcule $3$ dividido por $4$, depois multiplique o resultado por $2$, depois eleve o resultado ao cubo.


---

In [9]:
3/4

0.75

In [10]:
_*2 # underline _ é só uma convenção do shell para guardar o resultado anterior.

1.5

In [11]:
_**3

3.375

---


**DICA!** O Python vai indicar um `ZeroDivisionError` quando a expressão $1/0$ aparecer.


---

In [12]:
1/0

ZeroDivisionError: division by zero



---

**Exemplo:** Calcule a soma $(5+3j)+(7-j)$


---

In [13]:
(5+3j) + (7-1j)

(12+2j)

In [14]:
complex(5,3)+complex(7,-1)

(12+2j)

## 3. Notação Científica

A notação científica pode ser utilizada através da letra $e$ entre dois números. Por exemplo, $1e6 = 1,000,000$, enquanto $1e-3=0.001$.

<br>

---
**Exemplo:**  Calcule o número de segundos em 3 anos usando notação científica.

---

In [15]:
(3e0)*(3.65e2)*(2.4e1)*(3.6e3) # anos (3) * dias/ano (365) * horas/dia (24h) * seg/hora (3600)

94608000.0

## 4. Módulo Math

Para utilizar algumas funções aritméticas básicas como `sin`, `cos`, `tan`, `asin`, `acos`,`exp`, `log`, `log10` ou `sqrt`, é necessário importar um módulo chamado `math`.

In [16]:
import math

Para executar essas funções, basta utilizar o comando adequado seguindo o formato `modulo.funcao`



---

**Exemplo:** Calcule $\sqrt{4}$ usando a função `math.sqrt()`

---

In [17]:
math.sqrt(4)

2.0

---

**Exemplo:** Calcule $sin(\pi/2)$. Observe que `math.pi`$=\pi$

---

In [18]:
math.sin(math.pi/2)

1.0

---

**Exemplo:** Calcule $e^{\frac{3}{4}}$ usando a função `math.exp()`.

---

In [19]:
math.exp(3/4)

2.117000016612675

---

**Exemplo:** Calcule $e^{\ln10}$.

---

In [20]:
math.exp(math.log(10))

10.000000000000002

**Importante.** Observe que o Python retorna:

```
10.000000000000002
```

isso acontece por causa de **limitações de precisão**:
O Python (e praticamente todas as linguagens) usam o padrão IEEE 754 para representar números de ponto flutuante (64 bits no float padrão) . \\
Assim, o computador guarda números em **binário com bits limitados**, então nem todos os valores são exatos.

O `math.log(10)` já é uma **aproximação**, e quando aplicamos `math.exp(...)` essa pequena diferença aparece no resultado final.

Para mostrar como `10`, basta arredondar:

```python
round(math.exp(math.log(10)), 10)
```

Observe que a função `math.log` em Python é o logaritmo neperiano (ou natural) $\log_{e}$, enquanto o $\log_{10}$ é dado pela função `math.log10`.



---
**Exemplo:** Calcule $1/\infty$ usando a função `math.inf`

---

In [21]:
1/math.inf

0.0

---
**Exemplo:** Calcule $\infty \times 2$ usando a função `math.inf`

---

In [22]:
math.inf * 2

inf

---
**Exemplo:** Calcule $\infty/\infty$ usando a função `math.inf`

---

In [23]:
math.inf/math.inf # ∞ / ∞ é uma forma indeterminada (NotaNumber)

nan

## 5. Expressões Lógicas e Operadores

Uma expressão lógica é uma proposição que pode ser `True` (verdadeira) ou `False` (falsa). Esse tipo de dado é chamado de `boolean` (booleano). Os operadores de **comparação** são usados para construir expressões lógicas que comparam os valores de dois números ou variáveis.

Operador   | Descrição        | Exemplo    | Resultados  
-----------|----------------- |----------- |----------------
   `>`     | `maior`          | `a > b`    | `True`
   `>=`    | `maior ou igual` | `a >= b`   | `True`
   `<`     | `menor `         | `a < b`    | `True`
   `<=`    | `menor ou igual` | `a <= b`   | `True`
   `!=`    | `não igual`      | `a != b`   | `True`
   `==`    | `igual`          | `a == b`   | `True`

### 🔍 Observação importante:

No Python, `True` e `False` são valores booleanos, **mas também podem ser usados como números**:

```python
int(True)   # 1
int(False)  # 0
```

Isso significa que podemos fazer operações matemáticas com eles:

```python
True + True     # 2
True * 10       # 10
False * 100     # 0
```

💡 **Resumo para lembrar:**

* `True` se comporta como `1`
* `False` se comporta como `0`

---

In [24]:
5 == 4

False

In [25]:
2 < 3

True

In [26]:
(1 + 3) >= (2 + 5)

False

In [27]:
(3 > 2) + (5 > 4)

2

Os operadores **lógicos** são os que relacionam duas ou mais expressões lógicas, ou negam a expressão lógica.


*   **`and`**: `True` se ambas as expressões são `True` (Adição)
*   **`or`**: `True` se uma expressão ou outra for `True` (Alternação)
*   **`not`**: `True` se a expressão for `False` (Negação)

In [28]:
(3 > 2) and (5 > 4)

True

In [29]:
(5 > 2) or (10 < 4)

True

In [30]:
not (5 > 2)

False